trbajao final_90%/RedPucp/RedPucpWeb/RedPucpWeb/Connected Services/RedPucpWS/ComentarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.redpucp.ws/" targetNamespace="https://services.redpucp.ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="actualizarImagenComentario" type="tns:actualizarImagenComentario" />
  <xs:element name="actualizarImagenComentarioResponse" type="tns:actualizarImagenComentarioResponse" />
  <xs:element name="eliminarComentario" type="tns:eliminarComentario" />
  <xs:element name="eliminarComentarioResponse" type="tns:eliminarComentarioResponse" />
  <xs:element name="guardarComentario" type="tns:guardarComentario" />
  <xs:element name="guardarComentarioResponse" type="tns:guardarComentarioResponse" />
  <xs:element name="listarComentarios" type="tns:listarComentarios" />
  <xs:element name="listarComentariosResponse" type="tns:listarComentariosResponse" />
  <xs:element name="listarComentariosXPublicacion" type="tns:listarComentariosXPublicacion" />
  <xs:element name="listarComentariosXPublicacionResponse" type="tns:listarComentariosXPublicacionResponse" />
  <xs:element name="obtenerComentario" type="tns:obtenerComentario" />
  <xs:element name="obtenerComentarioResponse" type="tns:obtenerComentarioResponse" />
  <xs:complexType name="actualizarImagenComentario">
    <xs:sequence>
      <xs:element name="idComentario" type="xs:int" />
      <xs:element minOccurs="0" name="imagenUrl" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarImagenComentarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerComentario">
    <xs:sequence>
      <xs:element name="idComentario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerComentarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:comentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="tns:usuarioComun" />
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imagenUrl" type="xs:string" />
      <xs:element minOccurs="0" name="publicacion" type="tns:publicacion" />
      <xs:element minOccurs="0" name="ultimaEdicion" type="xs:dateTime" />
      <xs:element name="votosNegativos" type="xs:int" />
      <xs:element name="votosPositivos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioComun">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigopucp" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="estadouser" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="karma" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipousuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="tns:usuarioComun" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="comunidad" type="tns:comunidad" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imagenUrl" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaEdicion" type="xs:dateTime" />
      <xs:element name="votosNegativos" type="xs:int" />
      <xs:element name="votosPositivos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comunidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:usuarioComun" />
      <xs:element name="cantidadmiembros" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fecha_creacion" type="xs:dateTime" />
      <xs:element name="id_comunidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="comentario" type="tns:comentario" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarComentarioResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarComentarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarComentariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarComentariosXPublicacion">
    <xs:sequence>
      <xs:element name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarComentariosXPublicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:comentario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarComentario">
    <xs:sequence>
      <xs:element name="idComentario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarComentarioResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificar" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>