trbajao final_90%/RedPucp/RedPucpWeb/RedPucpWeb/Connected Services/RedPucpWS/NotificacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.redpucp.ws/" targetNamespace="https://services.redpucp.ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="eliminarNotificacion" type="tns:eliminarNotificacion" />
  <xs:element name="eliminarNotificacionResponse" type="tns:eliminarNotificacionResponse" />
  <xs:element name="guardarNotificacion" type="tns:guardarNotificacion" />
  <xs:element name="guardarNotificacionResponse" type="tns:guardarNotificacionResponse" />
  <xs:element name="listarNotificaciones" type="tns:listarNotificaciones" />
  <xs:element name="listarNotificacionesParaUsuario" type="tns:listarNotificacionesParaUsuario" />
  <xs:element name="listarNotificacionesParaUsuarioResponse" type="tns:listarNotificacionesParaUsuarioResponse" />
  <xs:element name="listarNotificacionesResponse" type="tns:listarNotificacionesResponse" />
  <xs:element name="obtenerNotificacion" type="tns:obtenerNotificacion" />
  <xs:element name="obtenerNotificacionResponse" type="tns:obtenerNotificacionResponse" />
  <xs:complexType name="guardarNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="notificacion" type="tns:notificacion" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notificacion">
    <xs:sequence>
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element name="id_notip" type="xs:int" />
      <xs:element minOccurs="0" name="publicacionnotificada" type="tns:publicacion" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioNotificado" type="tns:usuarioComun" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="tns:usuarioComun" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="comunidad" type="tns:comunidad" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imagenUrl" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaEdicion" type="xs:dateTime" />
      <xs:element name="votosNegativos" type="xs:int" />
      <xs:element name="votosPositivos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioComun">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigopucp" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="estadouser" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="karma" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipousuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comunidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:usuarioComun" />
      <xs:element name="cantidadmiembros" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fecha_creacion" type="xs:dateTime" />
      <xs:element name="id_comunidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarNotificacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarNotificacionesParaUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarNotificacionesParaUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:notificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarNotificacion">
    <xs:sequence>
      <xs:element name="idNotificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarNotificacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarNotificaciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarNotificacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:notificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNotificacion">
    <xs:sequence>
      <xs:element name="idNotificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNotificacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:notificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificar" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>