trbajao final_90%/RedPucp/RedPucpWeb/RedPucpWeb/Connected Services/RedPucpWS/PublicacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.redpucp.ws/" targetNamespace="https://services.redpucp.ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="actualizarImagenPublicacion" type="tns:actualizarImagenPublicacion" />
  <xs:element name="actualizarImagenPublicacionResponse" type="tns:actualizarImagenPublicacionResponse" />
  <xs:element name="eliminarPublicacion" type="tns:eliminarPublicacion" />
  <xs:element name="eliminarPublicacionResponse" type="tns:eliminarPublicacionResponse" />
  <xs:element name="guardarPublicacion" type="tns:guardarPublicacion" />
  <xs:element name="guardarPublicacionResponse" type="tns:guardarPublicacionResponse" />
  <xs:element name="listarPublicaciones" type="tns:listarPublicaciones" />
  <xs:element name="listarPublicacionesResponse" type="tns:listarPublicacionesResponse" />
  <xs:element name="listarPublicacionesVirales" type="tns:listarPublicacionesVirales" />
  <xs:element name="listarPublicacionesViralesResponse" type="tns:listarPublicacionesViralesResponse" />
  <xs:element name="listarPublicacionesXFiltros" type="tns:listarPublicacionesXFiltros" />
  <xs:element name="listarPublicacionesXFiltrosResponse" type="tns:listarPublicacionesXFiltrosResponse" />
  <xs:element name="listarPublicacionesXUsuario" type="tns:listarPublicacionesXUsuario" />
  <xs:element name="listarPublicacionesXUsuarioResponse" type="tns:listarPublicacionesXUsuarioResponse" />
  <xs:element name="obtenerPublicacion" type="tns:obtenerPublicacion" />
  <xs:element name="obtenerPublicacionResponse" type="tns:obtenerPublicacionResponse" />
  <xs:complexType name="obtenerPublicacion">
    <xs:sequence>
      <xs:element name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPublicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="tns:usuarioComun" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="comunidad" type="tns:comunidad" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imagenUrl" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaEdicion" type="xs:dateTime" />
      <xs:element name="votosNegativos" type="xs:int" />
      <xs:element name="votosPositivos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioComun">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigopucp" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="estadouser" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="karma" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipousuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comunidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:usuarioComun" />
      <xs:element name="cantidadmiembros" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fecha_creacion" type="xs:dateTime" />
      <xs:element name="id_comunidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPublicacionesVirales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPublicacionesViralesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarImagenPublicacion">
    <xs:sequence>
      <xs:element name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="imagenUrl" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarImagenPublicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPublicacion">
    <xs:sequence>
      <xs:element name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPublicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="guardarPublicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="publicacion" type="tns:publicacion" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarPublicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPublicacionesXFiltros">
    <xs:sequence>
      <xs:element name="idComunidad" type="xs:int" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="ordenamiento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPublicacionesXFiltrosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPublicacionesXUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPublicacionesXUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPublicaciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPublicacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificar" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>