trbajao final_90%/RedPucp/RedPucpWeb/RedPucpWeb/Connected Services/RedPucpWS/ReporteWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.redpucp.ws/" targetNamespace="https://services.redpucp.ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="eliminarReporte" type="tns:eliminarReporte" />
  <xs:element name="eliminarReporteResponse" type="tns:eliminarReporteResponse" />
  <xs:element name="guardarReporte" type="tns:guardarReporte" />
  <xs:element name="guardarReporteResponse" type="tns:guardarReporteResponse" />
  <xs:element name="listarReportesPendientes" type="tns:listarReportesPendientes" />
  <xs:element name="listarReportesPendientesResponse" type="tns:listarReportesPendientesResponse" />
  <xs:element name="listarReportesXReportador" type="tns:listarReportesXReportador" />
  <xs:element name="listarReportesXReportadorResponse" type="tns:listarReportesXReportadorResponse" />
  <xs:element name="obtenerReporte" type="tns:obtenerReporte" />
  <xs:element name="obtenerReporteResponse" type="tns:obtenerReporteResponse" />
  <xs:complexType name="listarReportesPendientes">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarReportesPendientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="comentarioreportado" type="tns:comentario" />
      <xs:element minOccurs="0" name="detalle" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element name="id_report" type="xs:int" />
      <xs:element minOccurs="0" name="publicacionreportada" type="tns:publicacion" />
      <xs:element minOccurs="0" name="publicador" type="tns:usuarioComun" />
      <xs:element minOccurs="0" name="reportador" type="tns:usuarioComun" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="tns:usuarioComun" />
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imagenUrl" type="xs:string" />
      <xs:element minOccurs="0" name="publicacion" type="tns:publicacion" />
      <xs:element minOccurs="0" name="ultimaEdicion" type="xs:dateTime" />
      <xs:element name="votosNegativos" type="xs:int" />
      <xs:element name="votosPositivos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioComun">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigopucp" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="estadouser" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="karma" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipousuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="tns:usuarioComun" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="comunidad" type="tns:comunidad" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imagenUrl" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaEdicion" type="xs:dateTime" />
      <xs:element name="votosNegativos" type="xs:int" />
      <xs:element name="votosPositivos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comunidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:usuarioComun" />
      <xs:element name="cantidadmiembros" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fecha_creacion" type="xs:dateTime" />
      <xs:element name="id_comunidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarReportesXReportador">
    <xs:sequence>
      <xs:element name="idReportador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarReportesXReportadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:reporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarReporte">
    <xs:sequence>
      <xs:element name="idReporte" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarReporteResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="guardarReporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="reporte" type="tns:reporte" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarReporteResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerReporte">
    <xs:sequence>
      <xs:element name="idReporte" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerReporteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificar" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>