trbajao final_90%/RedPucp/RedPucpWeb/RedPucpWeb/Connected Services/RedPucpWS/VotoPublicacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.redpucp.ws/" targetNamespace="https://services.redpucp.ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="eliminarVotoPublicacion" type="tns:eliminarVotoPublicacion" />
  <xs:element name="eliminarVotoPublicacionResponse" type="tns:eliminarVotoPublicacionResponse" />
  <xs:element name="guardarVotoPublicacion" type="tns:guardarVotoPublicacion" />
  <xs:element name="guardarVotoPublicacionResponse" type="tns:guardarVotoPublicacionResponse" />
  <xs:element name="listarVotosPublicacion" type="tns:listarVotosPublicacion" />
  <xs:element name="listarVotosPublicacionResponse" type="tns:listarVotosPublicacionResponse" />
  <xs:element name="listarVotosXPublicacion" type="tns:listarVotosXPublicacion" />
  <xs:element name="listarVotosXPublicacionResponse" type="tns:listarVotosXPublicacionResponse" />
  <xs:element name="obtenerVotoPublicacion" type="tns:obtenerVotoPublicacion" />
  <xs:element name="obtenerVotoPublicacionResponse" type="tns:obtenerVotoPublicacionResponse" />
  <xs:element name="suprimirVotoPublicacion" type="tns:suprimirVotoPublicacion" />
  <xs:element name="suprimirVotoPublicacionResponse" type="tns:suprimirVotoPublicacionResponse" />
  <xs:complexType name="suprimirVotoPublicacion">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="suprimirVotoPublicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarVotoPublicacion">
    <xs:sequence>
      <xs:element name="idVoto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarVotoPublicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarVotosXPublicacion">
    <xs:sequence>
      <xs:element name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarVotosXPublicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:votoPublicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="votoPublicacion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:voto">
        <xs:sequence>
          <xs:element minOccurs="0" name="publicacionVotada" type="tns:publicacion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="voto">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="tipo" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="autor" type="tns:usuarioComun" />
      <xs:element minOccurs="0" name="categoria" type="xs:string" />
      <xs:element minOccurs="0" name="comunidad" type="tns:comunidad" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="imagenUrl" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="ultimaEdicion" type="xs:dateTime" />
      <xs:element name="votosNegativos" type="xs:int" />
      <xs:element name="votosPositivos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuarioComun">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuario">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigopucp" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrasenha" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="estadouser" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="karma" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipousuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="comunidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="administrador" type="tns:usuarioComun" />
      <xs:element name="cantidadmiembros" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="fecha_creacion" type="xs:dateTime" />
      <xs:element name="id_comunidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarVotoPublicacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="votopublicacion" type="tns:votoPublicacion" />
      <xs:element minOccurs="0" name="estado" type="tns:estado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="guardarVotoPublicacionResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarVotosPublicacion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarVotosPublicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:votoPublicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerVotoPublicacion">
    <xs:sequence>
      <xs:element name="idVoto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerVotoPublicacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:votoPublicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estado">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuevo" />
      <xs:enumeration value="Modificar" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>